<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<div class="page-header header-filter"
     style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ml-auto mr-auto">
        <div class="card card-login">
          <div class="card-header card-header-info text-center">
            <h4 class="title">Login</h4>
          </div>
          <div class="card-body">

            <!-- ORIGINAL LOGIN START -->

            <div *ngIf="isLoggedIn; else loggedOut">
              Logged in as {{tokenStorage.getUsername()}}.
            </div>

            <ng-template #loggedOut>
              <div class="col-12">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                           #username="ngModel"
                           required/>
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                           #password="ngModel"
                           required minlength="6"/>
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-info">Login</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      Login failed: {{errorMessage}}
                    </div>
                    <a href="signup" class="btn btn-primary">Sign Up</a>
                  </div>
                </form>
                <hr/>
              </div>
            </ng-template>

            <!-- ORIGINAL LOGIN END -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
