<div class=""
     style="background-image: url('../assets/img/city.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-signup">
          <div class="card-body">
            <!-- ORIGINAL LOGIN START -->

            <div *ngIf="isLoggedIn; else loggedOut">
              Logged in as {{roles}}.
            </div>

            <ng-template #loggedOut>
              <div class="row col-sm-6" style="max-width:350px;">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                           #username="ngModel"
                           required/>
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                           #password="ngModel"
                           required minlength="6"/>
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      Login failed: {{errorMessage}}
                    </div>
                    <a href="signup" class="btn btn-success">Sign Up</a>
                  </div>
                </form>
                <hr/>
              </div>
            </ng-template>

            <!-- ORIGINAL LOGIN END -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
