<div class="col-lg-12 col-md-12">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <a class="nav-link" (click)="tabSelect('inprogress')"
               [className]="inProgressTab ? 'nav-link active show' : 'nav-link'" role="tab" data-toggle="tab"
               aria-selected="false">
              <i class="material-icons">assignment</i>
            </a>
          </div>
          <p class="card-category">In progress</p>
          <h3 class="card-title">49
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">add</i>
            <a routerLink="/jobs/new">Add new job</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <a class="nav-link active show" (click)="tabSelect('done')"
               [className]="doneTab ? 'nav-link active show' : 'nav-link'" role="tab" data-toggle="tab"
               aria-selected="true">
              <i class="material-icons">assignment_turned_in</i>
            </a>
          </div>
          <p class="card-category">Done</p>
          <h3 class="card-title">1</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th>
          Creation time
        </th>
        <th>
          Title
        </th>
        <th>asd</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{job.creation.split('T')[0]}}
          {{job.creation.split('T')[1].split('.')[0].split(':')[0]}}:{{job.creation.split('T')[1].split('.')[0].split(':')[1]}}
        </td>
        <td>
          {{job.title}}
        </td>
        <td>asd</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
