<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Category builder for {{categoryFieldName}}</h4>
    <p class="card-category">You can build you categorisation fields here</p>
    <button class="btn btn-success btn-sm" (click)="addCategoryColumn()">
      <i class="material-icons">add</i> Add column
    </button>
  </div>
  <div class="card-body font-weight-bold">
    <div class="row">
      <div class="col-2 mt-4" *ngFor="let categoryModel of categoriesArray; let i = index">
        <div class="row justify-content-center">
          <button class="btn btn-sm btn-rose"
                  (click)="categoriesArray.splice(i, 1); checkCategoryHighlight()">
            <i class="material-icons">clear</i>Remove category
          </button>
          <button class="btn btn-sm btn-primary" (click)="addNewSubCategoryToCategoryModel(categoryModel)">
            <i class="material-icons">add</i>Add subcategory
          </button>
        </div>
        <div class="row">
          <div class="col-12">
            <input class="" type="text"
                   style="font-size: larger"
                   (change)="checkCategoryHighlight()"
                   [ngClass]="categoryModel.error ? 'text-danger form-control' : categoryModel.highlight ? 'text-purple form-control' : 'text-primary form-control'"
                   [(ngModel)]="categoryModel.name">
          </div>
        </div>
        <div class="row" *ngFor="let subCategory of categoryModel.subcategories; let i = index">
          <button class="btn btn-sm btn-link btn-fab btn-round text-danger"
                  (click)="categoryModel.subcategories.splice(i, 1); checkCategoryHighlight()">
            <i class="material-icons">clear</i>
          </button>
          <div class="col-10">
            <input class="form-control" type="text"
                   (change)="checkCategoryHighlight()"
                   [ngClass]="subCategory.error ? 'text-danger form-control' : subCategory.highlight ? 'text-purple form-control' : 'form-control font-weight-bold'"
                   [(ngModel)]="subCategory.name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
