<!--fps, elapsed_time, current_file_number, remaining_files, frame, frames_number, files_count-->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">movie</i>
        </div>
        <h3 class="card-title">Files</h3>
        <h4 class="card-title">Total:       {{videoFiles.length}}</h4>
        <h4 class="card-title">Finished:    {{statuses[2]}}</h4>
        <h4 class="card-title">In Progress: {{statuses[1]}}</h4>
        <h4 class="card-title">Waiting:     {{statuses[0]}}</h4>
        <h4 *ngIf="statuses[3] > 0" class="card-title">ERRORS:      {{statuses[3]}}</h4>
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--          <i class="material-icons">date_range</i> Finished files: {{+data['total_files'] - +data['finished_files']}}-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">storage</i>
        </div>
        <div class="">
          <h3 class="card-title">Clients</h3>
          <button class="btn btn-danger btn-sm btn-round" (click)="removeDevices()">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="footer">
          <table class="table text-gray">
            <thead>
            <tr>
              <th>Active</th>
              <th>Status</th>
              <th>Name</th>
              <th>Speed</th>
              <th>Progress</th>
              <th>Remaining</th>
            </tr>
            </thead>
            <tbody class="col-12">
            <tr *ngFor="let client of clientsStatus">
              <td>
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" [attr.checked]="client['isActive'] ? '' : null"
                           (click)="switchClientStatus(client['id'])">
                    <span class="toggle"></span>
                  </label>
                </div>
              </td>
              <td>
              <span *ngIf="client['elapsedTime'] < 16000"
                    class="badge badge-pill badge-success">Online</span>
                <span *ngIf="client['elapsedTime'] > 16000"
                      class="badge badge-pill badge-danger">Offline</span>
              </td>
              <td>{{client['name']}}</td>
              <td>FPS: {{client['fps']}}</td>
              <td
                *ngIf="+client['totalFrames'] > 0">{{client['progressPercent']}}%
              </td>
              <td *ngIf="+client['totalFrames'] == 0">
                Frame: {{client['frame']}}
              </td>
              <td>{{client['remainingTime']}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <button class="btn" (click)="reloadfiles()">Reload files</button>
    <!--    File Progress: {{progressStr.split('.')[0]}}.{{progressStr.split('.')[1].substr(0, 2)}}%-->
    <!--    <div class="progress progress-line-info">-->
    <!--      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"-->
    <!--           aria-valuemax="100" [ngStyle]="{'width': progressStr}">-->
    <!--        <span class="sr-only">60% Complete</span>-->
    <!--      </div>-->
    <!--    </div>-->
    <h3>Total Progress: {{totalProgressString}}%</h3>
    <div class="progress progress-line-info">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
           aria-valuemax="100" [ngStyle]="{'width': totalProgressString + '%'}">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngFor="let project of projects">
  <div class="card-header row">
    <button class="btn btn-primary" type="button" data-toggle="collapse"
            [attr.data-target]="'#collapseExample' + project['id']"
            aria-expanded="false" [attr.aria-controls]="'collapseExample' + project['id']">
      Open
    </button>
    <div class="togglebutton col-1">
      <label>
        <input type="checkbox" [attr.checked]="project['active'] ? '' : null"
               (click)="switchProjectActive(project)">
        <span class="toggle"></span>
      </label>
    </div>
    <div class="col-8">
      <h4>{{projectsFinished[project['name']] === undefined ? 0 : projectsFinished[project['name']]}}
        /{{project['numberOfFiles']}}</h4>
      <div>{{project['name'].substring(0, project['name'].length - 1)}}</div>
    </div>
  </div>
  <div class="collapse" [attr.id]="'collapseExample' + project['id']">
    <div class="card-body">
      <div class="table">
        <table>
          <thead>
          <th>Status</th>
          <th>Client</th>
          <th>Date found</th>
          <th>File name</th>

          </thead>
          <tbody>
          <ng-template ngFor let-videoFile [ngForOf]="videoFiles">
            <tr *ngIf="'/media/pi/mainData/CONVERT/INPUT/' + videoFile['path'] == project['name'] || '/media/pi/mainData/CONVERT/INPUT/' + videoFile['path'] == '' && project['name'] == 'root'">
              <td>
                <span (click)="changeStatus(videoFile)" *ngIf="videoFile.status == '0'"
                      class="badge badge-pill badge-info">Waiting</span>
                <span (click)="changeStatus(videoFile)" *ngIf="videoFile.status == '1'"
                      class="badge badge-pill badge-primary">in progress</span>
                <span (click)="changeStatus(videoFile)" *ngIf="videoFile.status == '2'"
                      class="badge badge-pill badge-success">Finished</span>
                <span (click)="changeStatus(videoFile)" *ngIf="videoFile.status == '3'"
                      class="badge badge-pill badge-danger">ERROR</span>
              </td>
              <td>{{videoFile.deviceName}}</td>
              <td>{{videoFile.addedOn.split('T')[0]}} {{videoFile.addedOn.split('T')[1].substr(0, videoFile.addedOn.split('T')[1].length - 4)}}</td>
              <td>{{videoFile.name}}</td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
