<div class="col-lg-12 col-md-12">
  <div class="row">
    <ul class="nav nav-pills nav-pills-icons" role="tablist">
      <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger" -->
      <li class="nav-item">
        <a class="nav-link" (click)="tabSelect('inprogress')"
           [className]="verificationTab ? 'nav-link active show' : 'nav-link'" role="tab" data-toggle="tab"
           aria-selected="false">
          <i class="material-icons">check_box</i><ng-template i18n="@@VerificationTab">Verification</ng-template>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="tabSelect('done')"
           [className]="exploratoryTab ? 'nav-link active show' : 'nav-link'" role="tab" data-toggle="tab"
           aria-selected="true">
          <i class="material-icons">assignment</i><ng-template i18n="@@ExploratoryTab">Exploratory</ng-template>
        </a>
      </li>
    </ul>
    <div class="float-right ml-auto">
      <button class="btn btn-info" (click)="onCreateNewJob()" i18n="@@createJobButton">Create Job</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <app-add-data-columns (removeCategoryColumn)="removeCategoryBuilderComponent($event)" (categoryColumnAdded)="categoryColumnAdded(id, name)" [tableColumns]="tableColumns"></app-add-data-columns>
  </div>
  <div class="col-md-12">
    <div class="tab-content tab-space">

      <!--First tab-->
      <div class="tab-pane" [className]="verificationTab ? 'tab-pane active show' : 'tab-pane'">
        <div class="row">
          <div class="col-md-12">
            <app-table-upload [tableFile]="referenceTableFile" [dataType]="fileDataReference"></app-table-upload>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-table-upload [tableFile]="ccTableFile" [dataType]="fileDataCostCenter"></app-table-upload>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ng-template #container>
            </ng-template>
          </div>
        </div>
      </div>

      <!--Second tab-->
      <div class="tab-pane" id="schedule-1" [className]="exploratoryTab ? 'tab-pane active show' : 'tab-pane'">
        <div class="table-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
