<div class="card">
  <div class="card-header card-header-primary">
    <h4 *ngIf="dataType == dataTypes.REFERENCE" class="card-title ">Upload reference data</h4>
    <p *ngIf="dataType == dataTypes.REFERENCE" class="card-category">Upload a csv file to fill the reference table</p>
    <h4 *ngIf="dataType == dataTypes.COST_CENTER" class="card-title ">Upload cost center data</h4>
    <p *ngIf="dataType == dataTypes.COST_CENTER" class="card-category">Upload a csv file to fill the cost center table</p>
    <input type="file" style="display: block" (change)="onFileChanged($event)" multiple/>
  </div>
  <div *ngIf="!csvDataReceived" class="card-body">
    <button class="btn btn-primary" (click)="testCC()">Test data CC</button>
    <button class="btn btn-primary" (click)="testR()">Test data R</button>
  </div>
  <div *ngIf="csvDataReceived" class="card-body">
    <div class="">
      <div class="togglebutton">
        <label>
          <input type="checkbox" (click)="switchCsvHeader()" [attr.checked]="tableFile.firstRowIsData ? '' : null">
          <span class="toggle"></span>
          First row of the csv file is header
        </label>
      </div>
      <h3>Select column for Cost Center identifyer:</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [innerText]="selectedCostCenterColumnName">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let header of tableFile.header; let i = index; trackBy:indexTracker2"><a class="dropdown-item"
                                                                                             [innerText]="tableFile.header[i]"
                                                                                             (click)="setCostCenterColumnInReference(i)"></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="">
      <h3>Edit header names:</h3>
    </div>
    <div class="">
      <label *ngFor="let csvHeader of tableFile.header; let i = index; trackBy:indexTracker">
        <input type="text" [(ngModel)]="tableFile.header[i]">
      </label>
    </div>
    <div class=""><h3>Example table from the file:</h3>
      <hr>
      <div class="table-responsive table-condensed">
        <table class="table">
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let csvHeader of tableFile.header; let i = index">
              <div class="text-purple" *ngIf="tableFile.ccColumn === i"
                 [innerText]="tableFile.header[tableFile.header.indexOf(csvHeader)]">

              </div>
              <div *ngIf="tableFile.ccColumn !== i">
                {{ tableFile.header[tableFile.header.indexOf(csvHeader)] }}
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let csvDataLine of csvData | slice:sliceData">
            <td *ngFor="let csvDataOfLine of csvDataLine.split(','); let i = index">
              <!--{{csvDataOfLine}}-->
              <div class="text-purple" *ngIf="tableFile.ccColumn === i">
                {{ csvDataOfLine }}
              </div>
              <div *ngIf="tableFile.ccColumn !== i">
                {{ csvDataOfLine }}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
