<div class="sidebar" data-color="purple" data-background-color="black" data-image="assets/img/inventory/07.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <!--Logo panel background: [ngStyle]="{'background-image':'url(./assets/img/inventory/06_s50.jpg)'}"-->
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      <div>Totally Legit</div>
      <div>Video Converter</div>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" routerLink="/dashboard">-->
<!--          <i class="material-icons">dashboard</i>-->
<!--          <p>Dashboard</p>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" routerLink="/jobs">-->
<!--          <i class="material-icons">work</i>-->
<!--          <p>Jobs</p>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item " routerLinkActive="active">-->
<!--        <a class="nav-link" routerLink="/devices">-->
<!--          <i class="material-icons">phonelink_setup</i>-->
<!--          <p>Devices</p>-->
<!--        </a>-->
<!--      </li>-->
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/convert-log">
          <i class="material-icons">storage</i>
          <p>Converter status</p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/settings">
          <i class="material-icons">settings</i>
          <p>Settings</p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/debug">
          <i class="material-icons">bug_report</i>
          <p>Debug tools</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="sidebar-background" [ngStyle]="{'background-image':'url(./assets/img/inventory/07.jpg)'}"></div>
