<p>
  devices works!
</p>
<button class="btn" (click)="testNewDevice()">newDeviceTest</button>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="">
    <tr>
      <th>
        Name
      </th>
      <th>
        UUID
      </th>
      <th>Device Holder</th>
      <th>Last user</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of devices">
      <td>{{device.name}}</td>
      <td>{{device.uuid}}</td>
      <td>{{device.deviceHolder}}</td>
      <td>{{device.lastLoggedInUserId}}</td>
    </tr>
    </tbody>
  </table>
</div>
