<footer class="footer ">
  <div class="container-fluid">
    <nav class="float-left">
<!--      <ul>-->
<!--        <li>-->
<!--          <a href="https://www.creative-tim.com">-->
<!--            Creative Tim-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="http://presentation.creative-tim.com">-->
<!--            About Us-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="http://blog.creative-tim.com">-->
<!--            Blog-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://www.creative-tim.com/license">-->
<!--            Licenses-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
    </nav>
<!--    <div class="copyright float-right">-->
<!--      2019, made with love by-->
<!--      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.-->
<!--    </div>-->
  </div>
</footer>
