<div class="col-12">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div
        [ngClass]="debugToolsService.debugState ? 'card-header card-header-warning card-header-icon' : 'card-header card-header-info card-header-icon'">
          <div class="card-icon">
            <i class="material-icons">bug_report</i>
          </div>
          <p class="card-category">Debug state</p>
          <h3 class="card-title">{{debugToolsService.debugState}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <button class="btn btn-round btn-primary" (click)="changeDebugState()">Change</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div [ngClass]="[serverLastSeenElapsed < 500 ? 'card-header card-header-success card-header-icon' : '',
             serverLastSeenElapsed >= 500 && serverLastSeenElapsed < 1000 ? 'card-header card-header-warning card-header-icon' : '',
             serverLastSeenElapsed >= 1000 ? 'card-header card-header-danger card-header-icon' : '']">
          <div class="card-icon">
            <i class="material-icons">storage</i>
          </div>
          <p class="card-category">Currently used server</p>
        </div>
        <div class="card-body">
          <p><h5 class="card-title">{{serverService.serveraddress}}</h5>
          <button class="btn btn-sm btn-round btn-warning" (click)="changeToLocalServer()">
            Local server
          </button>
          <button class="btn btn-sm btn-round btn-primary" (click)="changeToProdServer()">
            Prod server
          </button>
        </div>
        <div class="card-footer">
          <div class="stats">
            <span *ngIf="serverLastSeenElapsed < 500"
                  class="badge badge-pill badge-success">ONLINE</span>
            <span *ngIf="serverLastSeenElapsed > 500 && serverLastSeenElapsed < 1000"
                  class="badge badge-pill badge-warning">SLOW</span>
            <span *ngIf="serverLastSeenElapsed > 1000"
                  class="badge badge-pill badge-danger">OFFLINE</span>
            {{250 - serverLastSeenElapsed}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-sm btn-round btn-info" (click)="printACurrentServerAddress()">
      Print current server
    </button>
    <button class="btn btn-sm btn-round btn-info" (click)="printADebugState()">
      Print debugstate
    </button>
  </div>
</div>
