<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
      <div class=""><!--class content-->
        <div class="container-fluid">

          <router-outlet></router-outlet>
        </div>
      </div>
    <app-footer></app-footer>
  </div>
</div>
