<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Data to record</h4>
    <p class="card-category">Set up the required fields for the job</p>
    <ul class="nav " data-tabs="tabs">
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.TEXT)">
          <i class="material-icons">add</i> Text
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.NUMBER)">
          <i class="material-icons">add</i> Number
          <div class="ripple-container"></div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.SWITCH)">
          <i class="material-icons">add</i> Switch
          <div class="ripple-container"></div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.SELECTOR)">
          <i class="material-icons">add</i> Selector
          <div class="ripple-container"></div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.CCID)">
          <i class="material-icons">add</i> CC ID
          <div class="ripple-container"></div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.PHOTO)">
          <i class="material-icons">add</i> Photo
          <div class="ripple-container"></div>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-sm" (click)="addNewTableColumn(this.columnType.CATEGORY_SELECTOR)">
          <i class="material-icons">add</i> Category selector
          <div class="ripple-container"></div>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div *ngFor="let tableColumn of tableColumns">
      <div class="row col-sm-12">
        <button class="btn btn-link btn-fab btn-round text-danger" (click)="removeColumn(tableColumns.indexOf(tableColumn), tableColumn.type)">
          <i class="material-icons">clear</i>
          <div class="ripple-container"></div>
        </button>
        <div class="dropdown col-md-2">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{tableColumn.type}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" (click)="modifyColumnType(tableColumns.indexOf(tableColumn), this.columnType.TEXT)">Text</a></li>
              <li><a class="dropdown-item" (click)="modifyColumnType(tableColumns.indexOf(tableColumn), this.columnType.NUMBER)">Number</a></li>
              <li><a class="dropdown-item" (click)="modifyColumnType(tableColumns.indexOf(tableColumn), this.columnType.SWITCH)">Boolean</a></li>
              <li><a class="dropdown-item" (click)="modifyColumnType(tableColumns.indexOf(tableColumn), this.columnType.SELECTOR)">Selector</a></li>
              <li><a class="dropdown-item" (click)="modifyColumnType(tableColumns.indexOf(tableColumn), this.columnType.PHOTO)">Photo</a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2">
        <input class="form-control" type="text" placeholder="Enter column name" value="{{tableColumn.name}}" required>
        </div>
        <div class="togglebutton" *ngIf="(tableColumn.type == this.columnType.TEXT)">
          <label>
            <input name="" type="checkbox" (click)="columnSpecialAttributeSwitch(tableColumns.indexOf(tableColumn))" [attr.checked]="tableColumn.autoDropDownEnabled ? '' : null">
            <span class="toggle"></span>
            Enable auto-configured dropdown selector
          </label>
        </div>
        <div class="col-md-6" *ngIf="(tableColumn.type == this.columnType.SELECTOR)">
          <input class="form-control" type="text" placeholder="Enter values, separate them with colon" [(ngModel)]="tableColumn.selectorValues" >
        </div>
        <div class="togglebutton" *ngIf="(tableColumn.type == this.columnType.PHOTO)">
          <label>
            <input name="" type="checkbox" (click)="columnSpecialAttributeSwitch(tableColumns.indexOf(tableColumn))" [attr.checked]="tableColumn.switchBeforeTakePhotoEnabled ? '' : null">
            <span class="toggle"></span>
            Check if the attribute of the object exists required
          </label>
        </div>
        <div class="col-md-6" *ngIf="(tableColumn.type == this.columnType.CATEGORY_SELECTOR)">
          Identifyer: {{tableColumn.categoryId}}
        </div>
      </div>
    </div>
    <!--<button type="submit" class="btn btn-primary pull-right">Update Profile</button>-->
    <!--<div class="clearfix"></div>-->
  </div>
</div>
