<p>
  settings works!
</p>
<div class="row">
  isAuthenticated: {{token.isAuthenticated()}}
</div>
<div class="row">
  authorities: {{token.getAuthorities()}}
</div>
<div class="row">
  token: {{token.getToken()}}
</div>

<div class="row">
  <button class="btn, btn-danger" routerLink="/signup">Sign up</button>
  <button class="btn, btn-danger" (click)="deleteUser()">Delete user</button>
</div>

<div class="row">
  <button class="btn btn-info" (click)="test_shit()">TEST</button>
</div>
